# String in Python:

	A string is a sequence of characters, which quoted with single, double or triple quote.

In [1]:
str_1 = 'Hello'

In [2]:
str_1

'Hello'

In [3]:
str_2 = "Hello"

In [4]:
str_2

'Hello'

In [5]:
str_3 = '''Hello'''

In [6]:
str_3

'Hello'

In [7]:
msg = "Hello Python"

In [8]:
len(msg)

12

In [10]:
msg[0]

'H'

In [11]:
msg[5]

' '

In [13]:
msg[11]

'n'

In [14]:
msg[12]

IndexError: string index out of range

In [15]:
msg[-1]

'n'

In [16]:
msg[-12]

'H'

•	Strings in python are immutable, means(unchangeable), i.e. once a string is created, then we cant alter its component and an attempt to do so leads to an error.

In [17]:
msg[5] = "j"

TypeError: 'str' object does not support item assignment

In [19]:
val_1 = "Soumya"
val_2 = "Ranjan"

In [21]:
val_3 = val_1+val_2                      #We can concatenate two string using "+"

In [22]:
val_3

'SoumyaRanjan'

In [29]:
a = "Python"

In [30]:
b = a*3

In [31]:
b

'PythonPythonPython'

# Slicing in string:

To retrieve a substring i.e.(a part from the string), we can use the concept of slicing.
•	To use slicing technique, we have to specify the range in the form of [start:end].

In [32]:
data = "I am reading string slicing"

In [34]:
data[0:6]                           #It will start from 0 and ends with 5th index, 6th index will be excluded.

'I am r'

In [35]:
data[2:4]                          #It will return 2nd and 3rd index value

'am'

In [37]:
data[0:]                           #It will start from 0 and ends with last index

'I am reading string slicing'

In [39]:
data[:]                             #It will print the entire string.

'I am reading string slicing'

In [43]:
data[0:6:2]                         #It will print 0th, 2nd and 4th index value.(because gap is specified as 2)

'Ia '

In [45]:
data[2:8:3]                        #It will print 2nd and 5th index value

'ar'

In [47]:
data[::-1]                         #It will reverse the string

'gnicils gnirts gnidaer ma I'

In [48]:
data[::-2]                          #It will print the string from backward by 2 gap.

'giisgit nde aI'

# Membership concept in string:

In [49]:
var = "How is your preparation going on?"

In [50]:
"is" in var

True

In [51]:
"are" in var

False

# String Format:

we cannot combine strings and numbers. So for that we have to know the string formatting concept.

In [53]:
str = "Hello"
num = 2

In [54]:
str+num

TypeError: can only concatenate str (not "int") to str

In [59]:
st = "I have {} rupees"
num= 100

In [60]:
st.format(num)

'I have 100 rupees'

In [61]:
st_2 = "I have {} rupees, i will buy {} pen."
num_1 = 100
num_2 = 2

In [63]:
st_2.format(num_1, num_2)

'I have 100 rupees, i will buy 2 pen.'

In [64]:
st_2 = "I have {1} rupees, i will buy {0} pen."
num_1 = 100
num_2 = 2

In [65]:
st_2.format(num_1, num_2)

'I have 2 rupees, i will buy 100 pen.'

# Built in function in python string:

### 1.	count():

If we want to find the number of occurance of a particular substring in the string, then we can use count().

In [66]:
str="Hello Python"
str.count("l")

2

### 2.	capitalize():

Convert the first character to upper case.

In [67]:
name = "soumya"
name.capitalize()

'Soumya'

### 3.	upper():

It will convert the entire string into upper case.

In [69]:
name = "Soumya"
name.upper()

'SOUMYA'

### 4.	lower():

It will convert the entire string into lower case.

In [71]:
name = "SOUMYA"
name.lower()

'soumya'

### 5.	islower():

It will check all the letters in a string is in lower case or not. It will give output in Boolean format.

In [72]:
str = "python"
str.islower()

True

### 6.	isupper():

It will check all the letters in a string is in upper case or not. It will give output in Boolean format.

In [75]:
str = "python"
str.isupper()

False

### 7.	endswith():

Returns true if the string ends with the specified value.

In [76]:
str = "I am reading python"
str.endswith("python")

True

### 8.	startswith():

Returns true if the string starts with specified value.

In [77]:
str = "I am reading python"
str.startswith("python")

False

### 9.	isalpha():

Returns True if all the characters in the string are alphabet. If there is numeric value or space, then it will return False.

In [78]:
str = "Soumya"
str.isalpha()

True

### 10.	isdigit():

Returns true if all the character in the given string is only digits, otherwise false.

In [83]:
num = "123"
num.isdigit()

True

### 11.	isalnum():

Returns true if all the characters in the string is alpha numeric, otherwise false.

In [80]:
num = "Soumya123"
num.isalnum()

True

### 12.	find():

Returns the index of  first occurance of the specified character in the given string, if specified value will not there, then it will return -1.

In [84]:
str = "How are you"

In [85]:
str.find("r")

5

In [87]:
str.find("i")

-1

### 13. replace():

Returns a string where a specified value is replaced with a specified value.

In [88]:
str = "I love java"
str.replace("java", "python")

'I love python'

### 14. split():

Splits the string at the specified separator, and returns a list.

In [90]:
str = "i love python"
str.split(" ")

['i', 'love', 'python']

### 15. join():

The join() method takes all items in an iterable and joins them into one string.

In [96]:
lst = ["i", "want", "to", "be", "a", "data", "scientist"]
str = " ".join(lst)

In [97]:
str

'i want to be a data scientist'

# Type casting in python:

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion.

In [103]:
x = 5

In [106]:
type(x)

int

In [104]:
y = float(5)

In [105]:
y

5.0

In [107]:
type(y)

float

In [108]:
a = "15"

In [109]:
type(a)

str

In [110]:
b = int(a)

In [117]:
b

15

In [111]:
type(b)

int

In [112]:
c = 5.76

In [113]:
type(c)

float

In [114]:
d = int(c)

In [115]:
d

5

In [116]:
type(d)

int

# input and output in python:

In python, sometimes a developer wants to take input from the user. So to take input from the user there is a special function named as input().

•	By default python interpreter takes all input as  string format only. So, if we want to input some other value, then we have to mention that data type infront of input().

 • To display output, python have function i.e. print().

WAP to print your name by taking user input.

In [98]:
name = input("Enter your name:")

Enter your name:soumya

In [101]:
print("my name is",name)

my name is soumya

WAP to add two number by taking user input.

In [102]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))
c = a+b
print("sum =", c)

Enter a:5
Enter b:7
sum = 12